
@font-face {
  font-family: 'Bookerly';
  font-style: normal;
  font-weight: 400;
  src: url('Bookerly-Regular.ttf');}

/* latin */
@font-face {
  font-family: 'Bookerly';
  font-style: italic;
  font-weight: 400;
  src: url('Bookerly-RegularItalic.ttf');
}

.standard {

  font-family: "Bookerly";
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
  height: 30px;
  font-size: 18px;
  margin: auto;
  max-width: 40em;
}

#layout {
  font-family: monospace;
}
p {
  text-indent: 20px;
  line-height: 2em;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

strong a {
  text-decoration: none;
  font-size: 1em;
}

strong a:visited {
}

strong a:hover {
  color: #49837e;
}

a {
  color: #2aa198;
}

a:hover {
  color: #07c5b5;
}

a:active {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: #468680;
}

a:visited:hover {
  color: #07c5b5;
}

strong.visitedposts a {
  color: gray;
}

#header {
  padding-left: 10px;
  padding-top: 5px;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #89a7bd;
}

#header h1 {
  font-family: "Fira Mono Bold", monospace;;
  font-weight: 100;
  display: inline-block;
  float: left;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  height: 25px;
  white-space: nowrap;
}

#header h1 a {
  color: #268bd2;
}

#header h1 a, #header h1 a:visited {
  text-decoration: none;
}

#header .left-word, #header .left-word:visited {
  color: #77A;
}
#header .right-word, #header .right-word:visited {
  color: #777;
}

#header h1:hover {
  cursor: pointer;
}

#rightbox {
  line-height: 20px;
  float: right;
  margin-right: 10px;
}

#rightbox a {
  font-family: "Fira Mono Bold", monospace;
  text-decoration: underline;
  color: #cb4b16;
}


h2 {
  margin-bottom: 2px;
  padding-bottom: 2px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #666;
  font-size: 0.8em;
  font-weight: normal;
}

.clearer {
  clear: both;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}


img {
  max-width: 100%;
}

#content {
  margin: auto;
  max-width: 40em;
  color: #93a1a1;


}
#footer {
  text-align: right;
  padding-right: 10px;
  padding-top: 100px;
  font-size: 0.5em;
  color: gray;
}

.centered, #postlist {
  padding: 30px;
  width: 100%;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

#postlist p {
    margin-bottom: 50px;
    text-indent: 0px;
    text-align: left;
    color: #666;
    font-size: 0.8em;
}

#pagesbox {
  text-align: center;
}

#whoami {
  margin-top: 50px;
  width: 100%;
  max-width: 35em;
  text-align: center;
  font-size: 0.8em;
  color: gray;
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}


#feedicon {
    vertical-align: text-bottom;

}


#whoami h2 {
  font-size: 1.2em;
}

#scrolldown {
  color: darkgrey;
  text-align: center;
  margin-bottom: 100px;
}

#postcontent {
  color: #555;
  text-align: justify;
}

#postcontent > p:first-of-type:first-letter, .dropcap:first-letter {
  font-size: 1.5em;
}

#postinfo {
  text-align: center;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

blockquote {
  font-style: italic;
}

blockquote p {
    text-indent:0px;
}
