<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>4040404040404040404</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>

        {{{ header }}}

        <div class="centered">
            <h2>This is just to say</h2>
            <p class="dropcap"><blockquote>

I have lost
the page
which you tried
to find

and which
you were probably
excited
to read

Forgive me
it probably
wasn't important
anyway
</blockquote></p>
            <div style="text-align:right;">
                Love,<br/>
                <span style="font-family:cursive;">404</span>
            </div>

            {{{ footer }}}

        </div>
    </body>
</html>
