<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Fira+Mono:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>byte</title>
        <script src="static/cheet.js" charset="utf-8"></script>
        <script src="static/main.js"  charset="utf-8"></script>
        <meta name="description" content="Technoboy10's blog."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body class="standard">
        {{{ header }}}
        

        <div id="whoami" class="centered">250 word snippets of my thoughts</div>

        <div id="postlist" class="centered">
            <br/>

            {{ #posts }}
                <strong class="postlinks" style="float:left;"><a href="{{ file }}">{{ title }}</a> </strong>&nbsp;
                <small style="float:right;">{{ date }}</small>
                <div class="clearer"></div>
                <p>{{ description }}</p>
            {{ /posts }}


            {{{ footer }}}

        </div>
    </body>
</html>
